
.search_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 20px;
}

.search_button {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid lightgray;
    color: white;
    background: #3380FF;
    font-size: 14px;
}

.input {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 5px;
    font-size: 14px;
    margin-right:10px;
  }
