/* body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background: #dce1eb;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
  }
  
  a {
    color: #7b8da1;
  }
  
  .device_table::-webkit-scrollbar {
    width: 8px;
  }
  
  .device_table::-webkit-scrollbar-track {
    background: #dce1eb;
  }
  
  .device_table::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 20px;
  }
  
  .container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 20rem auto;
    column-gap: 30px;
  }
  
  sidebar css */


.sidebar__dashboardName {
  color: black;
  margin-bottom: 40px;
  font-weight: 500;
  display: flex;
  align-items: center;
  background: white;
  margin-left: 10px;
  font-size: 15px;
  gap: 10px;
}

.link_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  gap: 10px;
  color: black;
}

.mobile_profile {
  display: none;
}

@media only screen and (max-device-width: 414px) {
  .sidebar {
    display: none;
  }

  .sidebar__dashboardName {
    display: none;
  }
}
/* li {
  height: 3.7rem;
  font-weight: 500;
  width: 100%;
  color: #7b8da1;
  position: relative;
  transition: all 300ms ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
} */


/* .active-content {
  color: #7380ec;
} */

/* li::before {
  content: "";
  width: 0.5rem;
  height: 100%;
}

li.active::before {
  content: "";
  width: 0.5rem;
  height: 100%;
  background: #7380ec;
  margin-right: 1rem;
}

a {
  display: block;
  transition: all 300ms ease;
  width: 100%;
  height: 100%;
  transform: translateY(35%);
}

a:hover,
a:focus {
  color: #7380ec;
  margin-left: 1rem;
} */
@media only screen and (max-device-width: 414px) {
  .mobile_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 3;
    width: 108%;
    background: white;
    border-radius: 30px;
    border-right: 1px solid gray;
    color: black;
  }

  .profile_container {
    height: fit-content;
  }

  .profile_id {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .profile_container:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 95%; 
    border-bottom: 1px solid white; 
    margin-bottom: 20px;
}
}
